.testimonial-card {
    &.style-2 {
        padding: 40px 60px;
        border: 1px solid $black-3;
        background-color: $white;
        position: relative;
        @include rmaxwd(991){
            padding: 30px;
        }
        @media only screen and (min-width: 1400px) and (max-width: 1900px){
            padding: 30px;
        }
        .sketch{
            position: absolute;
            top: 0;
            right: 0;
        }
        .meta-user{
            .image{
                border: 2px solid $white;
            }
            @media only screen and (min-width: 625px) and (max-width: 767px){
                flex-direction: column;
                text-align: center;
            }
        }
        .icon{
            font-size: 80px;
            &.secondary{
                i{
                    color: $secondary-color;
                }
            }
            &.pink{
                i{
                    color: #FFE3EE;
                }
            }
        }
        .content{
            .text{
                padding: 0;
                font-family: $body-font;
                font-size: 18px;
                font-weight: 400;
                line-height: 32.4px;
                color: $black-2;
            }
        }
    }
}
