.testimonial-slider-area{
    &.style-2{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .section-title{
            margin-bottom: 56px;
            @include rmaxwd(991){
              margin-bottom: 32px;
            }
        }
        .custom-container{
          @include lg{
            margin: 0;
          }
          @include xl{
            margin: 0;
          }
        }
        .slick-list{
          .slick-track{
            @include md{
              display: flex !important;
            }
            @include lg{
              display: flex !important;
            }
            @include xl{
              display: flex !important;
            }
          }
        }
        .slick-active + .slick-active + .slick-active {
            .icon{
                i{
                    color: #FFE3EE;
                }
            }
           }
        .testimonial-card{
            &.style-2{
              border: 0;
              @include transition;
              @include md{
                border: 1px solid #E7E7E7;
              }

                &.slick-slide{
                  @include transition;
                  @include rmaxwd(1400){
                    margin: 0 20px 80px 20px;
                  }
                  @media only screen and (min-width: 769px) and (max-width: 991px){
                    margin: 0 12px 80px 12px;
                  }
                  @media only screen and (min-width: 769px) and (max-width: 991px){
                    min-width: 350px !important;
                  }
                  @media only screen and (min-width: 768px) and (max-width: 991px){
                    margin-left: 42px !important;
                    margin-right: 42px !important;
                  }
                  @include sm{
                    margin: 0 ;
                  }
                  &.slick-active{
                    @include xl{
                      min-width: 400px;
                    }
                  }
                  &.slick-center{
                    margin-bottom: 80px;
                    @include md{
                      // min-width: 350px !important;
                    }
                    @include xl{
                      min-width: 480px !important;
                      @include transition;
                    }
                  }
                }
              }
            .icon{
                i{
                    color: $secondary-color;
                }
            }
            &.slick-center{
                margin-top: 0 !important;
                background-color: $primary-color;
                .icon{
                    i{
                        color: $white;
                        @include transition;
                    }
                }
            } 

            // &.slick-active {
            //     &:nth-child(1) {
            //         background-color: red !important;
            //     }
            //     // &:first-child{
            //     //     background-color: ;
            //     //     padding: 100px;
            //     //     .icon{
            //     //         i{
            //     //             color: $secondary-color;
            //     //         }
            //     //     }
            //     // }
            //     // &:last-child{
            //     //     .icon{
            //     //         i{
            //     //             color: FFE3EE;
            //     //         }
            //     //     }
            //     // }
            // }
            &.slick-slide{
                margin: 98px 20px 0 20px;
                @include transition;
            }
        }
        .testimonial-slider-two{
            .slick-list{
                padding: 0 !important;
            }
            .testimonial-arrow-btn{
              i{
                position: unset;
              }
              .swip{
                height: 20px;
              }
              &:hover{
                .swip{
                  .title-wrapper{
                    transform: translateY(-20px);
                  }
                }
              }
                &.active{
                    background-color: $primary-color;
                    @include transition;
                }
                
                &.prev-btn{
                    position: absolute;
                    bottom: 0;
                    right: 50%;
                    margin-right: 24px;
                    // transform: translate(-50%, 0);
                }
                &.next-btn{
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    // transform: translate(50%, 0);
                }
            }
            .slick-dots {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                margin-top: 48px;
                margin-bottom: 0;
          
                li {
                  display: inline-block;
                  line-height: 0;
                  outline: 1px solid transparent;
                  border: 4px solid transparent;
                  border-radius: 50px;
                  @include transition;
          
                  button {
                    font-size: 0;
                    padding: 0;
                    width: 11px;
                    height: 11px;
                    background-color: $black-2;
                    border-radius: 50px;
                    position: relative;
                    @include transition;
          
                    &:hover {
                      background-color: $orange-color;
                      @include transition;
                    }
                  }
                  &.slick-active {
                    @include transition;
                    outline: 1px solid $black;
          
                    button {
                      @include transition;
                    }
                  }
                }
              }
        }
    }
}