.testimonial-card {
    padding: 0 60px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    border-radius: 12px;

    @include sm {
        padding: 35px;
    }
    .content {
        text-align: center;

        .text {
            margin: 0;
            font-family: $heading-font;
            font-size: 24px;
            font-weight: 500;
            line-height: 34px;
            padding: 0 170px;
            color: $black-2;
            @include rmaxwd(991){
                padding: 0;
            }
            @include lg{
                padding: 32px;
            }
            @include xl{
                padding: 64px;
            }
        }
    }
    .meta-user {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin-top: 10px;
        .image {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 66px;
            height: 66px;
            border-radius: 50px;
            overflow: hidden;
        }
        .user-info {
            display: flex;
            align-items: center;
            gap: 20px;
            
            .info {
                display: flex;
                flex-direction: column;

                h5 {
                    margin: 0;
                }
                p {
                    margin: 0;
                    font-size: 18px;
                    line-height: 32px;
                    font-weight: 400;
                    color: $black-2;
                }
            }
        }
    }
}
