.portfolio-card{
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    .overlay{
        background: #161616;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        @include transition;
    }
    .content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        @include transition;
        .icon{
            transform: scale(0.3);
            @include transition;
            a{
                width: 88px;
                height: 88px;
                background-color: $white;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    color: $black;
                    font-size: 30px;
                    @include sm{
                        font-size: 24px;
                    }
                }
                @include sm{
                    width: 66px;
                    height: 66px;
                }
            }
        }
        .text{
            position: absolute;
            left: 24px;
            bottom: 0;
            transform: translateY(0);
            transition: all 0.3s ease-out;
            h4{
                margin: 0;
                color: $white;
            }
        }
    }
    .image{
        img{
            transform: scale(1);
            @include transition;
        }
    }
    &:hover{
        .overlay{
            visibility: visible;
            opacity: 0.4;
        }
        .content{
            visibility: visible;
            opacity: 1;

            .icon{
                transform: scale(1);
            }
            .text{
                transform: translateY(-20px);
            }
        }
        .image{
            img{
                transform: scale(1.03);
            }
        }
    }
    &.style-2{
        // margin-right: 18px;
        .image{
            img{
                width: 100%;
            }
        }
    }
}