.post-card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 56px; 

  &:hover{
    .image{
      img{
        transform: scale(1.03);
      }
    }
  }

  .image {
    overflow: hidden; 
    border-radius: 16px;

    img {
      width: 100%;
      @include transition;
      transform: scale(1);

      @include sm{
        width: 100%;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 3;
    gap: 24px; 
    // margin-top: 7px;

    .tag-wrapper{
      display: flex;
      gap: 12px;
      .tag-item{
        padding: 4px 12px;
        border-radius: 8px;
        background: #FFF0D8;
        color: $black;
        font-family: $heading-font;
        font-size: 20px;
        font-weight: 500;
        line-height: 140%;
        &:hover{
          background-color: $black;
          color: #FFF0D8;
        }
      }
    }  

    .post-meta {
      display: inline-flex;
      gap: 17px;
      align-items: center;

      span {
        font-family: $body-font;
        font-size: 18px;
        font-weight: 400;
        line-height:  32px;
        margin: 0;
        color: $black-2;
        display: flex;
        align-items: center;
        gap: 8px;
        a{
          color: $black-2;
        }
        &:hover{
          color: $blue-color;
        }
      }
      .time{
        i {
          color: $black-2;
          font-size: 8px;
          margin-right: 4px;
        }
      }
      
    }
    .title {
      margin: 0;
      padding-bottom: 24px;
      border-bottom: 1px solid $black-3;
      letter-spacing: -0.56px;
      a{
        @media only screen and (min-width: 992px) and (max-width: 1399px){
          height: 71px;
          overflow: hidden;
          display: block;
        }
      }
      @include transition;
      &:hover{
        a{
          color: $blue-color;
        }
      }
    }
  }
  .date {
    margin-bottom: 0;
  }
  .date-bottom {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 0;
    color: #778196;
    position: relative;
    z-index: 3;
  }
  @include lg {
    padding-right: 0;
  }
}
