.service-area{
    &.style-2{
        background-size: cover;
        @include sm{
            padding-bottom: 80px;
        }
        @include md{
            padding-bottom: 80px;
        }
        .content-wrapper{
            position: relative;
            .section-title{
                margin-bottom: 42px;
            }
            .service-btn{
                @media only screen and (min-width: 0px) and (max-width: 768px){
                    text-align: start;
                    margin-top: 0;
                    // margin-bottom: 24px;
                }
                @media only screen and (min-width: 769px) and (max-width: 991px){
                    text-align: start;
                }
            }
            .sketch-2{
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translate(0, 50%);
                animation: ServiceLeftRight 2s linear infinite alternate;
                @-webkit-keyframes ServiceLeftRight {
                    0% { transform: translate(0, 50%); }
                    100% { transform: translate(15px, 50%); }
                  }
                  @keyframes ServiceLeftRight {
                    0% { transform: translate(0, 50%); }
                    100% { transform: translate(15px, 50%); }
                  }
                @include rmaxwd(1199){
                    display: none;
                }
            }
        }
        .icon-card-wrapper{
            display: flex;
            align-items: center;
            gap: 40px;
            margin-left: 47px;
            padding-right: 0;

            @include rmaxwd(1199) {
                margin-left: 0;
                margin-top: 40px;
            }
            @include sm{
                margin-left: 0;
                flex-direction: column;
                gap: 0;
                padding-left: 0;
                margin-top: 28px;
            }
            @include xl{
                margin-left: 0;
            }
            .icon-card{
                &.style-2{
                    @include sm{
                        margin-top: 24px;
                    }
                }
            }
        }
        .duo-wrapper{
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 50%;
            @include sm{
                gap: 0;
                width: 100%;
            }
        }
    }
    &.style-3{
        .icon-card-wrapper{
            padding-right: 0;
        }
    }
}