// Why-choose-area 
.why-choose-area{
  &.style-3{
    position: relative;

    .about-info-card{
      &.style-2{
        .section-title{
          margin-bottom: 0;
        }
      }
      @include rmaxwd(991){
        margin-bottom: 40px;
      }
    }
  }
}

// Review-slider-area
.review-slider-area{
  &.style-1{
    // padding: 120px 0;

    .review-card{
      width: 384px !important;
    }
      @include sm{
        padding: 80px 0;
      }
      @include md{
        padding: 80px 0;
      }
      @include lg{ 
        padding: 80px 0;
      }
  }
}