// Hero-area style-1
.hero-area{
    position: relative;
    .sketch{
      position: absolute;
      top: 50px;
      left: 32px;
      transform: translate(50%, 50%);
      animation:  ZoomInOut 2s linear infinite alternate;
      @include sm{
        display: none;
      }
    }
    .sketch-2{
      position: absolute;
      top: 0;
      right: 50px;
      animation:  ZoomInOut 2s linear infinite alternate;
      @include sm{
        display: none;
      }
    }
    .content-wrapper{
      margin-bottom: 47px;
      @include rmaxwd(991){
        margin-bottom: 32px;
      }
    }
    .video-popup-btn{
      .swip{
        @include sm{
          display: none;
        }
      }
    }
}

// About-us-area style-1
.about-us-area {
  &.style-1 {

    //@include sm {
    //  padding-top: 66px !important;
    //  padding-bottom: 66px !important;
    //}
    //@include md {
    //  padding-top: 86px !important;
    //  padding-bottom: 86px !important;
    //}

    .about-image-card{
      .main-img{
        @include md{
          transform: translate(15%, 0);
        }
      }
    }
    .about-info-card{
      // margin-left: -4px;
      padding-left: 30px;
      @include rmaxwd(991){
        padding-left: 0;
      }
      @include xl{
        margin-left: 0;
        padding-left: 24px;
      }
      .section-title{
        margin-top: -5px;
        .title{
          br{
            @include rwd (991){
              display: none;
            }
          }
        }
        .desc{
          padding-right: 12px;
          line-height: 32px;
          @include sm{
            margin-top: 0;
          }
        }
      }
      @include rmaxwd(991){
        margin-top: 48px;
        margin-left: 0;
      }
    }

  }
}

// portfolio-slider-area style-1
.portfolio-slider-area{
  &.style-1{
    .section-title{
      @media only screen and (min-width: 0px) and (max-width: 768px){
        align-items: center;
        text-align: center;
      }
      .title{
        @media only screen and (min-width: 0px) and (max-width: 767px){
          padding-right: 0;
        }
        .underline{
          img{
            bottom: 0;
          }
        }
      }
    }
    .theme-btn{
      margin-right: 5px;
    }
    .section-title{
      .title{
        padding-right: 30px;
        @include rmaxwd(991){
          padding-right: 0;
        }
      }
    }
  }
}
// Why-choose-area 
.why-choose-area{
  &.style-1{
    // padding: 120px 0;
    position: relative;
    // @include sm{
    //   padding: 80px 0;
    // }
    // @include md{
    //   padding: 100px 0;
    // }
    .about-info-card-img-wrapper{
      position: relative;
      .sketch{
        bottom: 0;
        right: 0;
        transform: unset;
        width: 124px !important;
        height: 117px !important;
      }
    }
    .sketch{
      position: absolute;
      bottom: 70px;
      right: 104px;
      transform: translate(-50%, -50%);
      animation: WhyChooseLeftRight 2s linear infinite alternate;
      @-webkit-keyframes WhyChooseLeftRight {
        0% { transform: translate(-50%, -50%); }
        100% { transform: translate(-40%, -50%); }
      }
      @keyframes WhyChooseLeftRight {
        0% { transform: translate(-50%, -50%); }
        100% { transform: translate(-40%, -50%); }
      }
      @include rmaxwd(991){
        display: none;
      }
    }
    .about-info-card{
      margin-left: 9px;
      margin-top: 5px;
      margin-right: 9px;
      .desc{
        padding-right: 20px;
      }
      @include xl{
        padding-left: 60px;
        margin: 0;
      }
      @include rmaxwd(991){
        margin-top: 40px;
      }
      @include sm{
        margin-left: 12px;
        margin-right: 12px;
      }
      @include md{
        margin: 0;
        padding-left: 24px;
      }
      
    }
    .btn-wrapper{
      @include rmaxwd(991){
        text-align: center;
      }
      .theme-btn{
        @include sm{
        }
      }
    }
  }
}
// Latest-post-area
.latest-post-area{
  &.style-1{
    .section-title-wrapper{
      justify-content: center;
    }
    .section-title{
      .desc{
        br{
          @include rmaxwd(991){
            // display: none;
          }
        }
      }
    }
  }
}
// FAQ-area
.faq-area{
  &.style-1{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .section-title-wrapper{
      justify-content: center;
    }
    .accordion{
      margin-top: 56px;
      .accordion-item{
        z-index: 1;
      }
    }
  }
}

// Service Area
.service-area {
 &.style-2 {
   .icon-card-wrapper{
    margin-top: 0;
   }
 }
}