// Service Area
.service-card-area {
    &.style-1{
        padding: 120px 0;
    
        @include rmaxwd(991) {
            padding: 100px 0;
        }
        @include rmaxwd(767) {
            padding: 80px 0;
        }
    }
}
// Process Area
.process-step-area {
     &.style-1 {
        .section-title{
            margin-bottom: 96px;
            @include sm{
                margin-bottom: 48px;
            }
            @include md{
                margin-bottom: 48px;
            }
        }
        //  @include sm {
        //      padding: 80px 0;
        //  }
        //  @include md {
        //      padding: 85px 0;
        //  }
     }
}

// Pricing-area 
.pricing-area{
    &.style-1{
        // padding: 120px 0;
        .section-title{
            margin-bottom: 56px;
            @include rmaxwd(1199){
                margin-bottom: 42px;
            }
        }
        // @include sm{
        //     padding: 80px 0;
        // }
        // @include md {
        //     padding: 100px 0;
        // }
        @include lg{
            padding-bottom: 96px;
        }
    }
}
// Service-details
.service-details-wrapper{
    .image-wrapper{
        display: flex;
        gap: 40px;
        margin: 56px 0;
        .image{
            border-radius: 12px;
            overflow: hidden;
        }
    }
    h3{
        @include sm{
            font-size: 36px;
        }
    }
    p {
        margin-bottom: 0;
    }
}

.service-area{
    &.style-2{
        .service-area-inner{
            .section-title{
                // margin-bottom: 56px;
                @include md{
                    // margin-bottom: 32px;
                }
            }
            .icon-card-wrapper{
                margin-left: 0;
                .g-6 {
                    --bs-gutter-x: 40px;
                    --bs-gutter-y: 40px;
                
                    @include sm {
                      --bs-gutter-x: 0;
                      --bs-gutter-y: 12px;
                    }
                    @include md {
                      --bs-gutter-x: 34px;
                      --bs-gutter-y: 34px;
                    }
                    @include lg{
                        --bs-gutter-x: 16px;
                      --bs-gutter-y: 16px;
                    }
                }
                .icon-card{
                    &.style-2{
                        @include md{
                            // margin-top: 24px;
                        }
                    }
                }
            }
        }
    }
}