.review-slider{
    margin-top: 8px;
    margin-left: calc((100% - 1320px) / 2);
    // overflow: hidden;

      @include sm{
      margin-left: 16px;
      }
      @include md{
      margin-left: calc((100% - 720px) / 2);
      }
      @include lg{
      margin-left: calc((100% - 960px) / 2);
      }
      @media only screen and (min-width: 1200px) and (max-width: 1399px){
      margin-left: calc((100% - 1140px) / 2);

      }
      @media only screen and (min-width: 1400px) and (max-width: 1900px){
        margin-left: calc((100% - 1320px) / 2);
      }
      .slick-list{
          margin-right: -80px;
          // padding-left: 26px;
          @include rmaxwd(991){
              margin-right: 0px;
          }
          .slick-track{
              // margin-left: -20px;
            padding-top: 48px;
            padding-bottom: 16px;
              @include sm{
                  margin-left: 0;
              }
              .review-card{
                  margin: 0 20px;
                  @include sm{
                      margin: 0 5px;
                      width: 350px !important;
                  }
              }
          }
      }
      .review-btn{
        position: absolute;
        top: -70px;
        right: calc(100% - 1298px);
        @include xl{
          right: calc(100% - 1080px);
      }
      @include lg{
          right: calc(100% - 880px);
          top: -40%;
      }
      @include md{
          right: calc(100% - 680px);
      }
      @include sm{
          display: none !important;
      }
        &.prev-btn{
        right: calc(100% - 1218px);
          transform: translate(0px);
          @include xl{
            right: calc(100% - 1000px);
            }
            @include lg{
            right: calc(100% - 800px);
            }
            @include md{
            right: calc(100% - 600px);
            }
          
        }
      }
      .slick-dots {
        display: flex !important;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-top: 64px;
        margin-bottom: 0;
        list-style: none;
    
        @include rmaxwd(767) {
          margin-top: 40px;
        }
        li {
          line-height: 0;
          button {
            width: 14px;
            height: 14px;
            font-size: 0;
            border-radius: 50px;
            padding: unset;
            background-color: #bdbdbd;
          }
          &.slick-active {
            button {
              background: $black;
            }
          }
        }
      }
  }
// Button
.review-btn-wrapper{
    display: flex;
    gap: 24px;
}
.review-btn {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 99;
    background-color: $white;
    cursor: pointer;
    bottom: 0;
    overflow: hidden;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
      i {
        color: $black;
        font-size: 21px;
        @include transition;
      }
    .review-swip{
      height: 20px;
      overflow: hidden;
      @include transition;
      .title-wrapper{
        @include transition;
      }
      .title-1{
        transform-origin: right center;
        transform: rotate(0deg);
        // transform: translate(-50%, -50%);
        display: block;
      }
      .title-2{
        transform-origin: left center;
        transform: rotate(0deg);
        // transform: translate(-50%, -50%);
        display: block;
      }
  }
    &:hover {
      @include transition;
      border-color: $orange-color;
      background-color: $primary-color;
      .review-swip{
        .title-wrapper{
          transform: translateY(-20px);
        }
      }
      &:before {
        width: 100%;
        @include transition;
      }
    }
  }