.review-card{
    display: flex !important;
    flex-direction: column;
    padding: 32px;
    gap: 24px;
    background-color: $white;
    border-radius: 16px;
    box-shadow: 0px 24px 64px 0px rgba(199, 206, 218, 0.25);
    .icon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            font-size: 24px;
            color: $black;
        }
    }
    .content-wrapper{
        display: flex;
        flex-direction: column;
        gap: 16px;
        .title-wrapper{
            display: flex;
            flex-direction: column;
            .year{
                color: $black-2;
                font-family: $body-font;
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                margin: 0;
            }
            .title{
                margin: 0;
            }
        }
        .desc{
            margin: 0;
            color: $black-2;
        }
    }
}