 .about-info-card {
    .section-title {
      .title {
        margin-bottom: 0;
      }
    }
  }
  .icon-card-wrapper{
    display: flex;
    gap: 52px;
    margin-top: 40px;
    padding-right: 86px;
    @include sm{
      flex-wrap: wrap;
      gap: 30px;
      padding: 0;
      text-align: center;
    }
    @include md{
      padding-right: 0;
    }
    @include lg{
      gap: 12px;
      padding-right: 0;
    }
    @include xl{
      gap: 20px;
      padding-right: 30px;
    }
  }