.about-image-card {
  &.style-2 {
    background-size: cover;
    .main-img{
      img{
        margin-left: 0;
        @include md{
          height: auto;
        }
      }
    }
    .visitor{
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translate(-52%, -14%);
      @keyframes VisitorMove {
        0% { transform: translate(-52%, 7%); }
        100% { transform: translate(-52%, 14%); }
      }
      animation: VisitorMove 2s linear infinite alternate;
    }
    .status{
      position: absolute;
      right: 51px;
      top: -7px;
      transform: translate(50%, 50%);
      @keyframes StatusMove {
        0% { transform: translate(50%, 30%); }
        100% { transform: translate(50%, 50%); }
      }
      animation: StatusMove 3s linear infinite alternate;
      @include rmaxwd(1199){
        display: none;
      }
    }
  }
}