.image-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 120px;

    .image-card {
        .section-title{
            text-align: start;
            align-items: start;
        }
        &:nth-child(even) {
            flex-direction: row-reverse;

            @include rmaxwd(991) {
                flex-direction: column-reverse;
            }
            .image {
                padding-right: 12px;
                @include rmaxwd(991) {
                    padding-left: 0;
                }
            }
        }
        &:nth-child(odd) {
            @include rmaxwd(991) {
                flex-direction: column-reverse;
            }
            .image {
                padding-left: 12px;
                @include rmaxwd(991) {
                    padding-left: 0;
                }
            }
        }
        .image-inner {
            overflow: hidden;
        }
    }
}
.image-card {
    display: flex;
    align-items: center;
    gap: 64px;
    .image-inner{
        border-radius: 16px;
        overflow: hidden;
    }

    @include rmaxwd(991) {
        flex-direction: column-reverse;
        gap: 32px;
    }
    @include rmaxwd(1900){
        gap: 32px;
    }

    .section-title{
        .desc{
            line-height: 32px;
        }
        .list-item-wrapper{
            margin-top: 20px;
        }
        .theme-btn{
            margin-top: 30px;
        }
    }
    .image {
        width: 50%;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        overflow: hidden;

        .image-wrapper {
            overflow: hidden;
        }

        @include sm {
            width: 100%;
            padding: 0;
        }
        @include md {
            width: 100%;
            padding: 0;
        }
        &:hover {
            img {
                transform: scale(1.03);
            }
        }
        img {
            width: 100%;
            height: 100%;
            max-height: 608px;
            z-index: 1;
            position: relative;
            // transform: scale(1);
            @include transition;
        }
    }
}
